Repository sumit-parakh-amla/nx-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --syntax scss --fix, stylelint --fix, htmlhint . --config .htmlhintrc

.lintstagedrc:

{
    "./**/*.{ts,tsx,js,jsx}": [
      "eslint --fix"
    ],
    "./**/*.scss": [
      "stylelint --syntax scss --fix"
    ],
    "**/*.css": [
      "stylelint --fix"
    ],
    "**/*.html": [
      "htmlhint . --config .htmlhintrc"
    ]
}

chore(plugin): plugin library installed
  .lintstagedrc
  .stylelintrc
  libs/core/src/test.scss
Due: stylelint --syntax scss --fix

feat(core): refactoring
  libs/core/src/test.scss
  package.json
Due: stylelint --syntax scss --fix

feat(core): refactoring
  libs/core/src/index.ts
Due: eslint --fix

feat(core): changes
  libs/core/src/lib/core.ts
Due: eslint --fix

Update README.md
  README.md
Due: none

Update README.md
  libs/core/README.md
Due: none

Update core.ts
  libs/core/src/lib/core.ts
Due: eslint --fix

fix: changes
  libs/znode-add-to-cart/.babelrc
  libs/znode-add-to-cart/.eslintrc
  libs/znode-add-to-cart/README.md
  libs/znode-add-to-cart/babel-jest.config.json
  libs/znode-add-to-cart/jest.config.js
  libs/znode-add-to-cart/package.json
  libs/znode-add-to-cart/src/index.ts
  libs/znode-add-to-cart/src/lib/znode-add-to-cart.spec.tsx
  libs/znode-add-to-cart/src/lib/znode-add-to-cart.tsx
  libs/znode-add-to-cart/tsconfig.json
  libs/znode-add-to-cart/tsconfig.lib.json
  libs/znode-add-to-cart/tsconfig.spec.json
  nx.json
  tsconfig.base.json
  workspace.json
Due: eslint --fix

feat(architecture): demo changes
  libs/cli/src/builders/build/web/package/package.impl.ts
  libs/testreactlib/src/lib/contact/contact.spec.tsx
  libs/testreactlib/src/lib/contact/contact.tsx
  libs/testreactlib/src/lib/contact/index.ts
  libs/testreactlib/src/lib/testreactlib.tsx
  libs/znode-add-to-cart/src/lib/znode-add-to-cart.tsx
  package-lock.json
  package.json
  workspace.json
Due: eslint --fix

feat(core): new feature update
  libs/core/src/lib/core.ts
Due: eslint --fix

feat(core): math library added
  libs/core/src/lib/math/math.spec.ts
  libs/core/src/lib/math/math.ts
Due: eslint --fix

fix(core): grammer fixes
  libs/core/src/lib/core.ts
Due: eslint --fix

chore(graphics): code refactoring
  libs/testreactlib/src/lib/app.test.tsx
  libs/testreactlib/src/lib/app.tsx
Due: eslint --fix
